*,
*::after,
*::before {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

th {
    border: 5px black solid;
    padding: 10px;
}

tr, td {
    border: 5px grey solid;
    padding: 10px;
}

