*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --mal-blue: #2e51a2;
    --mal-bg-color: #e1e7f5;
    --mal-text-over-blue: white;
    --mal-text-over-white: black;
    --table-header-border: #163d99;
    --table-cell-border: grey;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


body {
    font-family: "arial";
    display: grid;
    grid-template-rows: 125px 1fr;
    row-gap: 25px;
}

.header > h1 {
    color: var(--mal-text-over-blue);
    justify-self: center;
    align-self: center;
    
}

.header {
    display: grid;
    background-color: var(--mal-blue);
}

table {
    border-collapse: collapse;
}

th {
    background-color: var(--mal-blue);
    color: var(--mal-text-over-blue);
    border: 5px var(--table-header-border) solid;
    padding: 10px;
}

.remove {
    width: 50px;
}

.remove-button {
    border-radius: 50%;
    width: auto;
    height: auto;
    border: none;
    background-color: var(--mal-blue);
    color: var(--mal-text-over-blue);
}



tr, td {
    border: 5px var(--table-cell-border) solid;
    padding: 10px;
    background-color: var(--mal-bg-color);
}

.cancel-button, 
.submit-button, 
.reset-button,
.new-book {
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--mal-blue);
    color: var(--mal-text-over-blue);
    border: none;
    border-radius: 50px;
}

.new-book:hover,
.remove-button:hover,
.read-toggle:hover {
    background-color: var(--mal-bg-color);
    color: var(--mal-text-over-white);
}

dialog {
    padding: 0;
}

form {
    width: 535px;
    padding: 25px;
    display: grid; 
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 10px;
}

form > h4 {
    align-self: center;
    justify-self: center;
    font-size: 3rem;
}

.form-option-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.form-content {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.form-labels,
.form-inputs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

input[type="text"] {
    height: 25px;    
}

.main-content {
    justify-items: center;
}

.read-toggle {
    margin-left: 10px;
    border: none;
    padding: 0 15px;
    border-radius: 30px;
    background-color: var(--mal-blue);
    color: var(--mal-text-over-blue);
}

.read-text {
    display: grid; 
    grid-template-columns: 0.1fr 1fr;
    column-gap: 5px;
    border: none;
}
